html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: gray;
}

nav {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem;
}
nav > a {
  text-decoration: none;
  color: white;
}
