html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #333333;
  padding: 2rem;
}

nav {
  position: fixed;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  margin: -2rem -2rem -0.1rem -2rem;
  z-index: 10;
}
main {
  padding-block-start: 19.5rem;
}
nav > a {
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  margin-block-end: 0.5rem;
}
.wrapportfolio {
  background-image: url(https://source.unsplash.com/1600x900/?city,night);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.portfolio {
  color: #bb6a37;
  margin: 2rem;
  background-color: #1a1919bc;
  width: 90%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.examples {
  padding: 1rem;
  margin-block-end: 2rem;
}

.examples > li > a {
  color: #ccad57;
  font-size: 1.8rem;
  text-decoration: none;
}
h1 {
  font-size: 3.2rem;
  padding: 1rem;
  margin-block-end: 2rem;
}
h2 {
  padding: 1rem;
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
  color: #bb6a37;
  margin-block-end: 2rem;
}
h4 {
  font-size: 2rem;
  font-weight: bold;
}
.wrap {
  background-color: #f5f5f5;
}

.h2menneisyys {
  padding: 1rem 0 2rem 1rem;
}
.menneisyys {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}
.card1,
.card2,
.card3 {
  flex: 1;
  border: 1px solid black;
  padding: 1rem;
  margin-block-end: 1rem;
  border-radius: 2rem;
}
.cardimg {
  max-width: 100%;
}
hr {
  border: none;
  border-top: 2px solid rgb(59, 197, 243);
  margin: 3rem 0;
}
.nykyisyys {
}
.images {
  max-width: 100%;
  margin-block-end: 1rem;
}

.paragraph {
  margin-block-end: 2rem;
}
.tulevaisuus {
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 700px;
}
.formwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
label {
  flex: 1;
  margin-block-end: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
  flex: 3;
}

input[type="submit"] {
  display: block;
  width: 100%;
  max-width: 10rem;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 0.8rem;
  background-color: #bb6a37;
  color: white;
  font-size: 1.6rem;
}

footer {
}
.lasthr {
  border: none;
  border-top: 1px solid rgb(250, 250, 250);
  margin: 1rem 0;
}

@media screen and (min-width: 426px) {
  nav {
    position: fixed;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    z-index: 10;
  }
  main {
    padding-block-start: 7rem;
  }
  .menneisyys {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
  }
  .card1,
  .card2 {
    flex: 1;
  }
  .card3 {
    flex: 0 0 100%;
    box-sizing: border-box;
  }

  .presentimage {
    width: 25rem;
    height: auto;
    float: left;
    margin: 0 1.5rem 1rem 0;
  }
  .futureimage {
    width: 25rem;
    height: auto;
    float: right;
    margin: 0 0 1rem 1.5rem;
  }
}
